.div{
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x:scroll;
    margin-top: 4em;
}
@media screen and (min-width: 800px) {
    .div{
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
    }
}
@import '../../globalStyles.scss';
.container{
    height: 500px;
    border: 1px solid $grey-0;
    margin-top: 1em;
    border-radius: 8px;
    &_mr{
        margin: .5em;
        &__header{
            display: flex;
            justify-content: space-between;
            &_link{
                text-decoration: none;
                color: $grey-100;
            }
        }
        form{
            margin-top: 1.5em;
            fieldset{
                border-radius: 8px;
                margin-bottom: 0.2em;
                legend{
                    font-weight: 600;
                    margin-left: 1em;
                }
                input{
                    border: none;
                    width: 100%;
                    height: 100%;
                    padding-left: 1em;
                    &:active, &:focus, &:hover{
                        border: none;
                        outline: 0;
                    }
                    &::placeholder{
                        font-size: 16px;
                    }
                    
                }
            }
            span{
                font-size: 14px;
                color: $negative;
            }
        }
    }
}
.button{
    margin-top: 3em;
    p{
        margin-top: 1em;
        text-align: center;
    }
    &_2{
        margin-top: 1em;
    }

    
}
@media screen and (min-width: 800px){
    .container{
        &_mr{
            margin: 1em;
            margin-top: 2em;
        }
    }
}
@import '../../globalStyles.scss';
.burguer{
    width: 100%;
    height: 50px;
    margin-bottom: 1em;
    &_mr{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &_1{
            display: flex;
            &__img1{
                width: 60px;
                background-color: $grey-0;
                border-radius: 8px;
                margin-right: 1em;
            }
            &__div{
                h2{
                    font-size: 16px;
    
                }
            }
        }
    }
}
@import '../../globalStyles.scss';
header{
    display: flex;
    justify-content: space-between;
    background-color: $grey-0;
    align-items: center;
    height: 60px;
    .icon{
        height: 30px;
    }
    div{
        .button{
            border: none;
            background-color: transparent;
            margin: 10px;
        }
    }
}

@import '../../globalStyles.scss';
.container{
    background-color: rgba(51, 51, 51, 0.5);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    &_modal{
        width: 300px;
        background-color: $white;
        border-radius: 8px;
        &_mr1{
            margin: 1em;
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            button{
                font-size: 16px;
                background-color: transparent;
                border: none;
            }
        }
        &_mr{
            margin: 1em;
            &__cart{
                height: 100px;
                overflow-y: scroll;
            }
            &__total{
                display: flex;
                justify-content: space-between;
                padding-top: 1em;
                border-top: 1px solid black;
            }
            &__button{
                margin-top: 1em;
            }
        }
    }
}
.empty{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
@import '../../globalStyles.scss';
.div{
    border: 2px solid $grey-20;
    min-width: 250px;
    max-width: 250px;
    height: 380px;
    border-radius: 8px; 
    
    &__img{
        background-color: $grey-0;
        text-align: center;
        img{
            width: 70%;
            height: 160px;
        }
    }
    &__container{
        margin: 0.5em 1em;
        h2{
            margin-bottom: 0.5em;
        }
        p{
            font-size: 16px;
            color: $grey-50;
            margin-bottom: 0.5em;
        }
        span{
            color: $color-primary;
            font-weight: 600;
        }
        &_button{
            width: 100px;
            margin-top: 20px;
        }
    }
}

@import '../../globalStyles.scss';
.container{
    width: 100%;
    height: 100px;
    border: 1px solid $grey-20;
    border-radius: 8px;
    &_div{
        margin: .5em;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        &__bag{
            background-color: $color-primary-50;
            width: 40%;
            height: 70px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__text{
            p{
                text-align: justify;
                font-size: 16px;
            }
        }
    }
}

@import '../../globalStyles.scss';
.main{
    margin: 1em;
    &_container1{
        margin-top: 5em;
        img{
            margin-bottom: 1em; 
        }
        &__circles{
            display: none;
        }
    }
}

@media screen and (min-width: 1000px) {
    .main{
        height: 100vh;
        margin: 0 15em;
        gap: 2em;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        &_container1{
            height: 250px;
            display: flex;
            gap: 40px;
            flex-direction: column;
            &__circles{
                display: flex;
            }
        }
        &_container2{
            flex-basis: 80%;
        }
    }
}